.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 2px;
  margin-top: 26px;
  margin-bottom: 0px;
}

::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 12px;
  padding-left: 16px;
}

.cointaner {
  width: 1200px;
  margin: 0 auto;
}

.header .cointaner {
  display: flex;
}

.backdrop {
  position: fixed;
  top: 0;
  background-color: var(--color-5);
  height: 100%;
  width: 100%;
  z-index: 4;
  transition: 1s;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contact {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  margin-top: 32px;
}

.contact__item {
  height: 18px;
}

.contact__item .contact__icon {
  margin-right: 10px;
  fill: var(--secondary-color);
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.contact__item:not(:last-child) {
  margin-right: 50px;
  text-decoration: none;
}

.contact__item:hover svg,
.contact__item:focus svg,
.contact__item:hover a,
.contact__item:focus a {
  fill: var(--main-color);
  color: var(--main-color);
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--color-8);
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--color-8);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-top: 25px;
  padding-bottom: 25px;
}

.button__container {
  display: flex;
  justify-content: center;
  position: relative;
}

.button {
  background-color: var(--main-color);
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--color-6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.button_padding {
  padding-right: 40px;
}

.modal {
  background-color: var(--color-7);
  width: 582px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  top: 221px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
}

.close-btn__svg {
  width: 11px;
  height: 11px;
  justify-content: center;
  background-image: url(../images/moduaicons/closebtn.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
}

.form-group__title {
  margin-top: 40px;
  margin-bottom: 2px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-8);
}

.form-group {
  margin-left: 40px;
  margin-right: 40px;
}

.input__type {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  padding-left: 45px;
  outline: none;
}

.input:hover input,
.input:hover {
  fill: var(--main-color);
  border-color: var(--main-color);
  outline: none;
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: all 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

textarea:hover,
textarea:focus {
  border-color: var(--main-color);
}

.label__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-9);
  margin-top: 10px;
}

.input__svg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 14px;
  top: 30%;
}

.input {
  position: relative;
  transition: all 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.checkbox__rules {
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox__rules:before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-8);
  border-radius: 4px;
  margin-right: 9px;
}

.checkbox:checked + .checkbox__rules::before {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  background-image: url(../images/moduaicons/checked.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkbox__color {
  color: var(--main-color);
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}

.menu {
  display: flex;
  list-style-type: none;
  margin-left: 93px;
}

.menu__item {
  margin-top: 32px;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--main-color);
}

.h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.714;
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--color-8);
}

.social-media__icon {
  width: 20px;
  height: 20px;
  fill: var(--color-10);
  transition: 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%);
}

.social-media {
  margin-top: 16px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.social-media__list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  transition: 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__list:not(:last-child) {
  margin-right: 10px;
}

.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  color: var(--color-7);
  width: 696px;
  margin-bottom: 30px;
}

.portfoliopictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 94px;
}

.portfoliopictures__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-8);
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.portfoliopictures__discription {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-bottom: 20px;
}

.portfoliopictures__item {
  margin-bottom: 30px;
}

.portfoliopictures__item:hover, .portfoliopictures__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfoliopictures__item:hover div {
  transform: translateY(0);
}

.hoverlist {
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;
  position: absolute;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
}

.hoverlist__description {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--color-6);
  margin-left: 24px;
  margin-right: 45px;
  margin-top: 49px;
  margin-bottom: 49px;
}

.image {
  position: relative;
  overflow: hidden;
}

.portfolionav {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.portfolionav__button {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  border-radius: 4px;
  transition: all 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.portfolionav__button:focus, .portfolionav__button:hover {
  color: var(--color-6);
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolionav__item {
  margin-left: 8px;
}

.footer {
  background-color: #2f303a;
}

.footer .logo:before {
  content: "Web";
  color: var(--main-color);
}

.footer .logo:after {
  content: "Studio";
  color: var(--color-7);
}

.footer .logo {
  color: var(--color-8);
}

.footer .cointaner .logo {
  padding-top: 60px;
  display: inline-block;
}

.footer .social-media__icon {
  fill: var(--color-7);
}

.footer .cointaner .middlefooter .social-media {
  margin-top: 20px;
}

.footer .cointaner {
  display: flex;
}

.footer .social-media__list:hover,
.footer .social-media__list:focus {
  background-color: var(--main-color);
  cursor: pointer;
}

.footer .social-media__list {
  background-color: var(--color-11);
}

.middlefooter {
  margin-left: 70px;
}

.location {
  margin-top: 20px;
  padding-bottom: 60px;
}

.location__item:not(:last-child) {
  margin-bottom: 9px;
}

.location__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.location__link:hover, .location__link:focus {
  color: var(--color-7);
}

.h4 {
  margin-top: 72px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-6);
}

.signin-title {
  margin-top: 72px;
  margin-left: 78px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-6);
}

.signin__input {
  height: 50px;
  width: 358px;
  margin-left: 78px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-12);
  outline: none;
  transition: all 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.signin__input:hover, .signin__input:focus {
  outline: none;
  border-color: var(--main-color);
}

.signin__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--color-3);
  z-index: 5;
}

.signin__svg {
  position: absolute;
  top: 13px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: var(--color-6);
}

.signin {
  display: flex;
}

.header {
  border: 1px solid #ececec;
}

.header .logo:before {
  content: "Web";
  color: var(--main-color);
}

.header .logo:after {
  content: "Studio";
  color: var(--color-8);
}

.team {
  background-color: #f5f4fa;
}

.team .cointaner .h2 {
  padding-top: 94px;
  padding-bottom: 50px;
}

.team__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 94px;
}

.team__information {
  background-color: var(--color-6);
}

.team__profession {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item .social-media__list:hover svg,
.team__item .social-media__list:hover {
  background-color: var(--main-color);
  fill: white;
  cursor: pointer;
}

.team__item .social-media__list:focus svg,
.team__item .social-media__list:focus {
  fill: var(--main-color);
  background-color: var(--color-8);
  cursor: pointer;
}

.description__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__position {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.description__spanup {
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--color-8);
}

.description__spandown {
  margin-top: 10px;
  width: 270px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.description__icon {
  width: 70px;
  height: 70px;
}

.whatwedo__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.whatwedo__item {
  position: relative;
}

.whatwedo__box__item {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-8);
  padding-top: 27px;
}

.whatwedo__box {
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
  position: absolute;
  z-index: 3;
  bottom: 0px;
}

.order {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mainpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.order .cointaner {
  justify-content: center;
  height: 600px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 94px;
  margin-top: 50px;
}

.clients__item {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  cursor: pointer;
  color: var(--secondary-color);
  fill: var(--secondary-color);
  align-items: center;
  justify-content: center;
  transition: all 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.clients__item:hover svg, .clients__item:hover {
  border-color: var(--main-color);
  fill: var(--main-color);
}

.clients__item:focus svg, .clients__item:focus {
  border-color: var(--main-color);
  fill: var(--main-color);
}

.ourclients .cointaner .h2 {
  margin-top: 100px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  --secondary-color: #757575;
  --color-3: rgba(255, 255, 255, 0.6);
  --color-4: rgba(117, 117, 117, 0.5);
  --color-5: rgba(0, 0, 0, 0.2);
  --color-6: #ffffff;
  --color-7: #f5f4fa;
  --color-8: #212121;
  --color-9: #757575;
  --color-10: #afb1b8;
  --color-11: rgba(255, 255, 255, 0.1);
  --color-12: #2F303A;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*# sourceMappingURL=main.css.map */