.clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 94px;
  margin-top: 50px;
}

.clients__item {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  cursor: pointer;
  color: var(--secondary-color);
  fill: var(--secondary-color);
  align-items: center;
  justify-content: center;
  transition: all 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);

&:hover svg,
&:hover {
  border-color: var(--main-color);
  fill: var(--main-color);
}

&:focus svg,
&:focus {
  border-color: var(--main-color);
  fill: var(--main-color);
}
}



.ourclients .cointaner .h2 {
  margin-top: 100px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}
