.team {
  background-color: #f5f4fa;

& .cointaner .h2 {
  padding-top: 94px;
  padding-bottom: 50px;
}

}

.team__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 94px;
}

.team__information {
  background-color: var(--color-6);
}



.team__profession {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
}



.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

& .social-media__list:hover svg,
& .social-media__list:hover {
  background-color: var(--main-color);
  fill: white;
  cursor: pointer;
}

& .social-media__list:focus svg,
& .social-media__list:focus {
  fill: var(--main-color);
  background-color: var(--color-8);
  cursor: pointer;
}
}

