.menu {
  display: flex;
  list-style-type: none;
  margin-left: 93px;
}

.menu__item {
  margin-top: 32px;

&:not(:last-child) {
  margin-right: 40px;
}
}


.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);

 &:hover,
 &:focus {
  color: var(--main-color);
}

}
