.social-media__icon {
  width: 20px;
  height: 20px;
  fill: var(--color-10);
  transition: 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%);
}

.social-media {
  margin-top: 16px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}


.social-media__list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  transition: 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
  margin-right: 10px;
}
}

