.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  color: var(--color-7);
  width: 696px;
  margin-bottom: 30px;
}
