
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  --secondary-color: #757575;
  --color-3: rgba(255, 255, 255, 0.6);
  --color-4: rgba(117, 117, 117, 0.5);
  --color-5: rgba(0, 0, 0, 0.2);
  --color-6: #ffffff;
  --color-7: #f5f4fa;
  --color-8: #212121;
  --color-9: #757575;
  --color-10: #afb1b8;
  --color-11: rgba(255, 255, 255, 0.1);
  --color-12: #2F303A;
}




 
